/* Styles spécifiques pour le composant invalid-credentials-dialog */

/* Style pour le conteneur de la boîte de dialogue */
.mat-dialog-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style pour le titre de la boîte de dialogue */
  .mat-dialog-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style pour le contenu de la boîte de dialogue */
  .mat-dialog-content {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Style pour les actions de la boîte de dialogue (boutons) */
  .mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  /* Style pour le bouton "Close" */
  .mat-dialog-actions button {
    background-color: #ffa559;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Style pour le bouton "Close" au survol */
  .mat-dialog-actions button:hover {
    background-color: #ff8b3d;
  }
  
  